<ion-header>
  <ion-toolbar color="success">
    <ion-title>about</ion-title>
    <ion-button color = "success" slot="start">
      <ion-menu-button memu="main-memu">
    
      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>about</ion-card-title>
        <ion-card-subtitle>application interface</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    In-app support allows customers to interact with your customer service team and QuickSearch Bots within your app, with a
    familiar messaging interface that mimics the way users are used to communicating on many channels.
  </ion-card-content>
</ion-card>
</ion-content>
