<ion-header>
  <ion-toolbar color="success">
    <ion-title>customercare</ion-title>
    <ion-button color="success" slot="start">
      <ion-menu-button memu="main-memu">
    
      </ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>1800-8000-9100</ion-card-title>
        <ion-card-subtitle>Customer care number</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    For your any querys please contact our customer care number service
    1800-8000-9100
  </ion-card-content>
</ion-card>
</ion-content>
